body{
    background-color: #8a8a8a;
    margin: 0;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.3em;
    color: #b4b4b4;
}
.container{display:flex; }
h2{margin: 15px 17px;}
.star{font-size: 0.7em;}
main{
    background-color: #3d3d3d;
    margin: 0 auto; 
    width: 100%;
    min-height: 100vh;
  }
/**************************************************************************/
/* TOP *************************************************************/
header, .logo{
    height: 60px;
    background-color: #5a5a5a;
    position: sticky;
    z-index: 3;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.logo{padding: 0 15px;}
.logo img{margin: 0 10px;}

/*Fejléc elemei*/
#top-left, #top-right{
    display: flex; 
    align-items: center; 
    margin-top: 20px;
}
#top-center{display: none;}

/*****Top menü*******************/
.ddmenu {
    position: relative;
    margin: 0;
    padding: 10px;
  } 
.ddmenu a{
    display: block;
    text-decoration: none;
    color: #b4b4b4;
}
.mainmenu a:hover{color:#fff;}
.submenu{
    background-color: rgba(36, 36, 36, 0.7);
    padding: 10px;    
    min-width: 180px;
    display: none;
    position: absolute;  
    list-style-type: none;
    transform-origin: top;
    top: 20px;
}
.submenu li{  
    padding: 5px 0;
    margin: 0;
    font-size: 1.0em; 
}  
.submenu a:hover{  
    color: #fff;
    font-size: 1.05em;
}
.logmenu{
    padding: 10px 15px; 
    right: 15px;
}
.logmenu ul{list-style-type: none; margin: 0; padding: 0;}
#catmenu-resp{display: none;}
#usermenu{margin-right: 15px;}
#usermenu-sub{margin-top: 27px; right: 5px;}
#usermenu .mainmenu{display: flex; align-items: center;}
#menu-pkep{margin: 0 0 5px 10px; width: 36px; height: 36px; border-radius: 50%;}
#infomenu-resp{display: none;}
#uploadmenu{margin-right: 15px;}
#reglink{border-top: oldlace solid 1px; padding-top: 10px;}
#uplink-notlog, #uplink-log{cursor: pointer;}
#alertbox{
    position: absolute;
    top: 65px;
    right: 180px;
    background-color: rgb(51, 51, 51);
    padding: 0px 10px; 
    border: 1px solid #0077ff;
    display: none;
}

@keyframes subcat {
    from{
        transform: scale(1,0);
    }
    to{
        transform: scale(1,1);
    }
}
@keyframes close {
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1,0);
    }
}
/**************************************************************************/
/******  Aside nav ********************************************************/
aside{
   min-width: 280px;
    background-color: #242424;
}
nav{
    /*background-color: #999797;*/
    margin: 10px;
    padding: 5px;
   /* position: fixed;*/
} 
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li{
    width: 180px;
    padding: 0 0 2px 0;
    margin: 0 0 6px 4px;
    border-bottom: 1px groove #2e2e2e;
    font-size: 1.1em;
    text-indent: 5px;
}
nav a{
    display: block;
    text-decoration: none;
    color: #b4b4b4;
}
nav a:hover{
    color: #fff;
    font-size: 1.05em;
}
nav h3{
    margin-left: 10px;
}
/* Kereső *******************/
nav form{
    display: flex;
    align-items: center;
    margin-top: 5px; 
}
input[title]{
    border: none; 
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    font-size: 0.8em;
}
button[name="keres"]{
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
}
#kereso{
    width: 210px;
    margin-right: 5px;
    height: 30px;
}
/**************************************************************************/
/* Foto nézet -photo.php *************************************************/
article{
    display: flex; 
    margin: 0;
    padding: 25px 45px;
}   
.p-land #photoframe{height: auto;}
#photoframe{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    margin-right: 45px;
    width: 100%;
    height: 85vh;
    position: relative;
}
#photoframe img{
    max-height: 100%;
    max-width: 100%;
}
/*Léptetés, nagyítás, bezárás a kép nézetben */
.navi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.navi-top, .navi-center{
    display: flex;
    justify-content: space-between;
}
.navi-top{
    padding: 10px; 
    height: 13%; 
    align-items: flex-start;
}
.navi-bottom{height: 17%;}
.navi-center{height: 70%; align-items: center;}
.navi-center a{width: 50%;}
.next, .prev{
    height: 30vw;
    display: flex;
    align-items: center;
}
.prev{justify-content: flex-start;}
.next{justify-content: flex-end;}
.next img{margin-right: 10px; padding: 5px;}
.prev img{margin-left: 10px; padding: 5px;}
.navi-top img{ padding: 4px;}
.navi-top img:hover{background-color: #8f8f8f; border-radius: 50%;}
.nextarrow, .prevarrow{border-radius: 50%;}
/********/
#photo{
    animation: photoload 0.7s 1 ease-in-out;
}
@keyframes photoload {
    
        from{
            transform: scale(0,0);
        }
        to{
            transform: scale(1,1);
        }
  }

/*Kép teljes nézetben*/
.nagykep_div{
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
#nagykep{max-height: 95%; max-width: 92%;}
#big{display:flex;}
#close, #enlarge, #close_div{cursor: pointer;}
#enlarge{width: 37px; height: 37px;}
#close{border-radius: 50%; padding: 5px;}

/* Foto adatlap (exif) *************************************************/
#dataframe{
    background-color: #eeeeee;
    color: #242424;
    min-width: 380px;
    padding: 15px; 
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#photo_data_artist, .exif div{display: flex; align-items: center;}
#photo_data_artist img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.artist a{text-decoration: none; color: #242424; font-weight: bold;}
.artist a:hover{color: #0077ff}
#data-header h4{margin: 20px 10px;}
.exif div{width: max-content;}
#exif{display:flex; flex-flow: column;}
#exif p{margin: 0;}
#calendar{display: flex; align-items: center; margin-left: 10px;}
#calendar img{margin-right: 10px;}
#exif img, #desc img{margin: 7px;}
#desc{display: flex; align-items: flex-start;}
#desc p{max-width: 300px;}

#dataframe_bottom{display: flex; align-items: flex-end; justify-content: space-between;}
.p-land #photoframe{height: auto;}

/*Hozzászólás a képhez*/
#commentframe{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 25px 45px;
}
details{
    min-width: 395px;
    display: flex;
    justify-content: flex-start;
}
summary{
    width: max-content;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
summary::-webkit-details-marker {color: #0077ff;}
summary:focus::-webkit-details-marker {color: #0077ff;}  

#komment_form{
    display:flex; 
    flex-flow: column;
    align-items: flex-end;
    margin-bottom: 15px;
}
#komment{
    margin-bottom: 10px;
    width: 100%;
}


#komment_list{
    width: 100%;
    margin-right: 60px;
}
.post_box{
    display: flex;
}
.post_pkep{
    padding: 15px;
    min-height: 70px;
    background-color: #2c2c2c;
}
.post_pkep img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.post_right{
    display: flex;
    flex-flow: column;
    background-color: #eeeeee;
    width: 100%;
    
}
.post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #2c2c2c;
    height: 30px;
}
.post_header a{
    text-decoration: none;
    color: #b4b4b4;
}
.post{
    margin: 0;
    padding: 5px;
    min-height: 60px;
    color:#242424;
}
#post_box_empty{
    display:flex;
    flex-flow: column-reverse;
}

/*Like és kedvencnek jelölés a kép nézetben*/
#foto_like{
    display:flex; 
    justify-content: flex-end;   
}
#star-mark, #like-mark{
    display: flex; 
    align-items: center;
    margin-right: 15px;
    position: relative;
}
#foto_like img{margin-right: 8px;}
.like_button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline:none;
    cursor: pointer;
}
.kedvenc, .like{
    display: flex; 
    align-items: flex-end;
}
#like_alert, #kedvenc_alert{
    left: 20px; 
    width: 85px;
    background-color: rgba(173, 173, 173, 0.3);
    color: #0061cf;
}
#count_like, #count_kedvenc{
    font-size:1.9em;
    color: #0061cf;
}
/* Módosítás és törlés menü a kép nézetben*/
#fotomod{position: relative;}
#dotmenu{padding: 10px; cursor: pointer;}
#dotmenu:hover{border-radius: 50%; background-color: #c7c7c7;}
#dotmenu-sub{
    display: none;
    position: absolute;
    right: 50px;
    top: 0px;
    padding: 0;
    background-color: #c7c7c7;
    border-radius: 5px;
}
#dotmenu-sub a{
    text-decoration: none; 
    color: #2e2e2e;
    border-radius: 5px;
    display: block;
    padding: 2px 15px;
    width: auto;
}
#dotmenu-sub p{
    margin: 0;
    color: #2e2e2e;
    border-radius: 5px;
    padding: 2px 15px;
    cursor: pointer;
  }
#dotmenu-sub a:hover, #dotmenu-sub p:hover{
    color: #fff; 
    background-color: #3f3f3f
}
#keptorles{
    display: none;
    position: absolute;
    right: 50px;
    top: 6px;
    margin: 0;
}
#torol{
    background-color: #ff0000;
    border-color: #a10101;
    margin-right: 10px;
}
#torol:hover{background-color: #9e0303;}
/* Kép módosítás oldal */
#cim_mod{width: 60%; margin-left: 15px; margin-top: 17px;}
#kategoria_mod{width: 63%; margin-bottom: 0;}
#public_mod{margin-bottom: 10px;}
#desc_mod{display:flex; flex-flow: column; margin-top: 15px;}
#edit-buttons{display: flex; justify-content: flex-end; margin-top: 15px;}
#canc{margin-right: 10px;}

/************************************************************************/
/*Foto nézet responsive megjelenés*/
@media only screen and (max-width: 1600px){ 
    #commentframe{padding: 0 25px 25px 25px;}
    #komment_list{margin-right: 40px;}
}
@media only screen and (min-width: 620px) and (max-width: 1600px){ 
    article{padding: 25px;}
    .p-land{flex-flow: column;}
    .p-land #photoframe{height: auto;}
    .p-land #dataframe{
        min-height: 250px;
        margin-top: 25px;
    }
    .p-land #data-header{
        display: flex; 
        justify-content: space-between;  
        margin-bottom: 10px;
    }
    .p-land #mark{align-self: flex-end;}
    .p-land #exif{display: flex; flex-flow: row; align-items: flex-start;}
    .p-land .exif{display: flex; flex-flow: column; width: 30%; margin-right: 10px;}
    #cim_mod{width: 250px;}
    #kategoria_mod{max-width: 250px;}
    #desc p{max-width: 650px}
    #desc_mod{max-width: 650px;}
}
@media only screen and (min-width: 620px) and (max-width: 1300px){
    .p-port{flex-flow: column;}
    .p-port #dataframe{
        min-height: 250px;
        margin-top: 25px;
    }
    .p-port #data-header{
        display: flex; 
        justify-content: space-between;  
        margin-bottom: 10px;
    }
    .p-port #mark{align-self: flex-end;}
    .p-port #exif{display: flex; flex-flow: row; align-items: flex-start;}
    .p-port .exif{display: flex; flex-flow: column; width: 30%; margin-right: 10px;}
    #desc p{max-width: 100%}
}
@media only screen and (max-width: 1079px){
    .p-land .exif{width: 25%;}
    .exif div{width: auto;}
}
@media only screen and (max-width: 819px){
    /*#enlarge{display:none;}  */
}
@media only screen and (max-width: 619px){
    article{padding: 20px;}
    .p-land, .p-port{flex-flow: column;}
    #photoframe{height: auto;}
    #dataframe{min-width: auto; margin-top: 25px;}
    .exif div{width: max-content;}
    #desc p{max-width: 450px;}
}
/**************************************************************************/
/* Galéria ****************************************************/  
#gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #333333;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    /*max-width: fit-content;*/
}
.image{
    margin: 3px;
    display: flex;
    flex-flow : column; 
    max-width: fit-content;
    padding: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #999797;
    border-radius: 5px;
}
.portrait, .blank{flex: 1 140px;}
.square{flex: 1 230px;}
.landscape{flex: 1 320px;}
.wide{flex: 2 420px;}
.blank{background-color: none; border: none;}

.gallery_foto{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#user_gallery_title{
    display: flex;
    width: max-content;
    margin: 20px 0 0 20px;
    cursor: pointer;
}
#user_gallery_title img:first-child{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
#arrow {
    margin: auto 0 auto 10px;
}

/*Felhasználó publikus információk adatlap (bemutatkozás, kamera, objektív)*/
#userinfo{
    margin: 0px 10px 20px 10px;
    padding: 10px 0 10px 10px;
    min-height: 100px;
    display: none;
    background-color: #f5f5f5;
    color: rgb(58, 58, 58);
    border-radius: 8px;
}
#userinfo_cam{display: flex; width: 50%;}
#userinfo_cam div, #userinfo_rolam{
    display: flex;
    align-items: center;
    border: 1px solid #3f3f3f;
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
}
#userinfo img{
    margin: auto 10px auto 0;
}

@media only screen and (max-width: 1065px){
    .image{
        flex: 3 270px;}
    .portrait{
        flex: 1 120px;}
    .square{
        flex: 2 200px;}
    .wide{
        flex: 4 400px;}
}
@media only screen and (max-width: 900px){
    #container{padding: 20px;}
    .image{
        flex: 3 230px;}
    .portrait{
        flex: 1 110px;}
    .square{
        flex: 2 180px;}
    .wide{
        flex: 4 380px;}
      
}
@media only screen and (max-width: 470px){
    .portrait img{
        height: 100%;
        width: 100%;}
    #container{
        max-width: 320px;
        padding: 30px;
    }
    #gallery{justify-content:center;}
    .image{max-width: 100%;}   

}
/*Like és kedvencnek jelölés a galériában -felbukkanó sáv a kép alján*/
.like_stripe{
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
    font-size: 1.0em;
    color: #fff;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: 46px;
    border-radius: 4px;
    display: none; 
    animation: show ease-in 0.5s 0s 1;
    transform-origin: bottom;
    justify-content: space-between;
    align-items: center; 
}
@keyframes show {
    from{
        transform: scale(1,0);
    }
    to{
        transform: scale(1,1);
    }
}
.artist{
    display: flex;
    align-items: center; 
}
.artist img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 0 5px;
    display: flex; 
    align-items: flex-end;
}
#artist_link{
    display:flex; 
    align-items: flex-end;
    color: #eeeeee;
    font-weight: normal;
}
.like_stripe .gallery_like{
    display: flex;
    flex-flow: row;
}
.like_count{
    margin: 0 10px 0 5px;
    color: #fff;
}
.like_alert{
    position: absolute;
    top:-22px;
    left: 0px;
    padding: 3px;
    background-color: rgba(61, 61, 61, 0.3);
    font-size: 0.7em;
    border-radius: 3px;
    display:none;
    width: 120px;
}
.like_box{position: relative;}
.portrait .artist span{
    display: none;
} 
/******* Űrlapok - Regisztrációs űrlap ***********************************/
fieldset{
    position: absolute;
    top: 130px;  
    z-index:1;
    background-color: rgb(51, 51, 51, 0.95);
    padding: 15px;
    border-radius: 8px;    
    border: 2px solid #999797;
    font-size: 1.1em;
}
.reg{
    left: calc(50% - 260px);
    width: 700px;
    height: auto;
}
#reg{
    display: none;
}

legend{
    text-align: center;
    padding: 5px 10px;
    color: #242424;
    background-color: #c4c4c4;
    border-radius: 4px;
}
form p{margin: 0 0 10px 0;}
label{font-size: 0.9em; margin-right: 10px;}
input{ margin: 5px 0;}
input:focus, textarea:focus{border: 2px solid #0077ff;}

textarea{
    border-radius: 5px;
    padding: 5px;
    font-size: 1.0em;
    margin-top: 5px;
}

#reg-top{
    display: flex;
    margin-top: 10px;
}
#reg-top div:first-child{width: 50%; margin-right: 10px;}
#reg-top div:first-child input{width: 200px;}
#reg-top div:nth-child(2) input, 
#reg-top div:nth-child(2) textarea {width: 220px;}
#reg-bottom{display: flex;}
#reg-bottom input{margin: 0;}

#profkep{
    height: 130px;
    width: 130px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    /*position: relative;*/
    overflow: hidden;
}
#profkep_image{
    /*position: absolute;*/
    max-height: 130px;
}

#reg-bottom-right{
    width: 80%;
    height: 130px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#reg-bottom-right p{margin: 0;}

#reg-hibak{display: flex;}
.hibak{
    font-size: 0.8em;
    color: rgb(255, 0, 0);
}
.hibak ul{margin: 0; padding: 0;}
.hibak li{margin-bottom: 5px;}
#reg-hibak div:first-child{width: 38%;}
#del{color: rgb(255, 0, 0);}
input[type="file"] {display: none;} /*Az eredeti feltöltés gombot láthatatlanná kell tenni*/

.gombok{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gomb {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    min-width: 80px;
    color: #fff;
    border: 2px solid #0053a0;
    border-radius: 2px;
    background-color: #0787ff;
    display: inline-block;
    padding: 3px 8px;
    cursor: pointer;
}
.gomb:hover{background-color: #015eb4;}
.gombok #reset{margin-right: 10px;}

/********* képfeltöltés űrlap ****************/

.upload{display: block;}
 
.upload legend{display:none;}
.upload form{
    display: flex;
    flex-flow: column;
}
#upform-top{
    display: flex;
    flex-flow: row wrap;
}
#foto-pre{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
#foto-pre img{
    margin: 0 15px 15px 0;
    max-width: 100%;
    border: 1px solid #999797;
}
#foto-pre div:nth-child(2){
    display: flex; 
    justify-content: space-between; 
    width: 97%;
}
#upform-bottom{
    display: flex; 
    margin-top: 15px;
}
.foto-exif{
    max-width: 550px;
    display: flex;
    flex-flow: row wrap;
}
.foto-exif div:first-child, .foto-exif div:nth-child(2){
    display: flex;
    flex-flow: row wrap;
}

#cim{width: 213px;}
#zar, #blende, #iso, #cam{margin-right: 15px;}
#zar, #blende, #iso, #fokusz{width: 113px;}
#cam, #obi{width:252px;} 
select{
    width: 205px; 
    height: 28px; 
    border-radius: 4px; 
    margin: 5px 0 5px 0;
}
#datum{width: 145px;}
#cancel{margin-right: 10px;}
#talloz{padding: 5px 20px 5px 5px;} 
#errors{margin: 10px 0 0 25px;}

/**** Feltöltés ablak kép oldalarány szerinti formázása ***/

.up-square{left: calc(50% - 255px);}
.up-landscape{left: calc(43% - 235px);}
.up-landscape #up-gombok{flex-flow: column; width: 240px; align-items: flex-end;}
.up-landscape #up-gombok div{margin-bottom: 10px;}
.up-portrait #upform-bottom, .up-square #upform-bottom{flex-flow: column;}
.up-wide{left: calc(42% - 250px);}
.up-wide #foto-pre img{max-width: 550px;}

@media only screen and (min-width: 1251px){
    .up-wide #up-gombok{flex-flow: column;}
    .up-wide #up-gombok div:first-child{align-self: flex-end;}
    .up-wide #up-gombok div:nth-child(2){margin-bottom: 10px;}
    .up-wide #upform-bottom{justify-content: space-between;}
}

@media only screen and (max-width: 1250px){
    .up-wide{left: calc(50% - 185px);}
    .up-wide #upform-top{flex-flow: column;}
    .up-wide{padding-right: 0;}
    .up-wide #foto-data{margin-top: 15px; display: flex; flex-flow: row; max-width: 554px;}
    .up-wide #foto-data div:first-child{width: 50%; margin-right: 15px;}
    .up-wide #foto-data div:nth-child(2){width: 50%; margin-right: 15px;}    
    .up-wide #leiras{width: 99%; height: 95px;}
    .up-wide #cim{width: 95%;}
    .up-wide #kategoria{width: 99%;}
    .up-wide #enter{margin-right: 15px;}
    .up-wide #upform-bottom{flex-flow: column;}
    #userinfo{flex-flow: column;}
    #userinfo_cam, #userinfo_rolam{width: auto;}
    #userinfo_rolam{margin-top: 10px;}
    #commentframe{flex-flow: column;}
    details{order: 1; margin-bottom: 15px; }
    #komment_list{order: 2;}
    #komment_form{margin-bottom: 0; margin-left: 15px; width: auto;}
}

@media only screen and (max-width: 1079px){ 
    .reg{width: 550px; left: calc(50% - 180px);}  
    .up-landscape{max-width: 455px;} 
    .up-landscape{left: calc(62% - 235px);} 
    .up-landscape #foto-data, .up-square #foto-data{width: 100%; margin-top: 15px;} 
    .up-landscape .foto-exif, .up-square .foto-exif{max-width: 330px;}   
    .up-landscape #foto-data #cim, .up-square #foto-data #cim {width: 97%;}
    .up-landscape #foto-data #kategoria, .up-square #foto-data #kategoria {width: 99%;}
    .up-landscape #foto-data #leiras, .up-square #foto-data #leiras {width: 97%;}
    .up-landscape #made-exif input, .up-square #made-exif input{max-width: 100%;} 
    .up-landscape #cam-exif input, .up-square #cam-exif input{max-width: 100%;} 
    .up-landscape #blende, .up-landscape #fokusz,
    .up-square #blende, .up-square #fokusz{margin-right: 0;}
    .up-square{max-width: 402px;}
    .up-square{left: calc(63% - 220px);}
}

@media only screen and (min-width: 511px) and (max-width:1079px){
    .up-landscape #upform-bottom{max-width: 430px;}
    .up-landscape #up-gombok{flex-flow: column; }
    .up-landscape #up-gombok div:nth-child(2){display: flex; flex-flow: row; margin-bottom: 10px; align-self: flex-end;}
}

@media only screen and (min-width: 821px){
    .up-portrait{left: calc(56% - 235px);}
    .p-land #photoframe{padding: 60px 0;}
}

@media only screen and (max-width: 820px){
    aside{display: none;}
    #top-center{display: block;}
    .mainmenu a{display: none;}
    #catmenu-resp{display: block; margin: 0 5px 20px 0;}
    #usermenu{margin-right: 5px; margin-bottom: 10px;}
    #usermenu-sub{margin-top: 30px;}
    .submenu-user{left: -90px;}
    .logmenu{left: -180px;}
    #catmenu-sub{top: 40px;}
    #uploadmenu{  margin: 0 0 5px 0;}
    #infomenu{display: none;}
    #infomenu-resp{display: block; margin-bottom: 12px;}
    .reg{width: 500px; left: calc((100% - 550px)/2);} 
    .up-landscape{left: calc((100% - 490px)/2)}
    .up-portrait{left: calc((100% - 580px)/2)}
    .up-wide{left: calc((100% - 585px)/2);}
    .up-square{left: calc((100% - 436px)/2);}
}

@media only screen and (max-width: 620px){
    .up-portrait{max-width: 330px; left: calc((100% - 370px)/2); top:65px;}
    .up-portrait #foto-pre img{max-width: 330px;}   
    .up-portrait .foto-exif{flex-wrap: nowrap;}
    .up-portrait #made-exif input{width: 86%;} 
    .up-portrait #cam-exif input{width: 100%;} 
    .up-portrait #iso, .up-portrait #fokusz{margin-right: 0;}
    .up-wide{left: 0; top: 65px;}
    .up-wide #foto-pre img{max-width: 100%;}
    .up-wide{padding-right: 15px;}
    .up-wide #upform-bottom{flex-flow: row; justify-content: flex-start;}
    .up-wide #up-gombok{flex-flow: column; width: 48%;}
    .up-wide #up-gombok div:first-child{align-self: flex-start;}
    .up-wide #up-gombok div:nth-child(2){margin-bottom: 10px;}
    .up-wide .foto-exif{max-width: 278px;}
    .up-wide #enter{margin-right: 0;}
}

@media only screen and (max-width: 510px){
    #reg-top, #reg-bottom{flex-flow: column;}
    .reg{left: 0; max-width: 90%;}
    #profkep{width: 130px; margin-bottom: 20px;}
    #reg-bottom-right{width:100%; height: auto;}
    #hibak{margin-bottom:15px;}
    #hibak div{width: 130px;}
    .up-landscape{left: 0; top:65px;}
    .up-landscape #upform-bottom{flex-flow: column; }
    .up-landscape #up-gombok{align-items: flex-start;}
    .up-wide #foto-data{flex-flow: column;}
    .up-wide #upform-bottom{display: block;}
    .up-wide #up-gombok{align-items: flex-start;}
    .up-wide #datum{margin-bottom: 15px;}
    .up-wide #foto-data div:first-child{width: 100%;}
    .up-wide #foto-data div:nth-child(2){width: 98%;}    
    .up-wide #cim{width: 97%;}
    .up-wide #kategoria{width: 99%;}
    .up-wide #up-gombok{width: 100%;}
    .up-wide #up-gombok div:nth-child(2){width: 200px;}
    #userinfo_cam{flex-flow: column;}
    #userinfo_cam div{width: auto;}
    #userinfo_cam div:first-child{margin-bottom: 10px;}

    details{min-width: 300px}
}

@media only screen and (max-width: 450px) and (max-width:619px){
    .up-square {left: 0;}
}

@media only screen and (min-width: 381px) and (max-width:619px){
    .up-portrait #foto-pre{flex-flow: row;}
}

@media only screen and (max-width: 380px){
    .logo{margin-right: 15px;}
    .logo img{width: 100%;}
    .upload{left: 0;}
    #cim, #kategoria, #leiras{width: 100%;}
    #foto-pre div:nth-child(2){flex-wrap: wrap;}
    .up-landscape .foto-exif{max-width: 200px;}
    .up-landscape #upform-top{margin-right: 0;}
    .up-portrait #upform-top{margin-right: 15px;}
    .up-portrait #up-gombok, .up-square #up-gombok{flex-flow: column; align-items: flex-start;} 
    .up-portrait #up-gombok div:nth-child(2),
    .up-square #up-gombok div:nth-child(2){margin-top: 10px; }
    .up-portrait #talloz, .up-wide #talloz{margin-bottom: 15px;}
    }

/*Háttér elsötétítés.......................................*/
#elsotetit, #loading{
    display: none;
}

.form_background{
    background-color: rgba(39, 39, 39, 0.8);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#loading{
    justify-content: center;
    align-items: center;
}